

#yellow{
	background:yellow;
	width:100%;
	border:1px solid;
	border-color:green;
	
}
#red{
	background:red;
	width:100%;
	border:1px solid;
	border-color: black;
	
}
#green{
	background:green;
	width:100%;
border:1px solid;
	border-color: yellow;
	
}